{% extends "layouts/base.html" %}

{% block title %}Riwayat Pendeteksian{% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mb-4">Riwayat Deteksi Jatuh</h4>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Waktu</th>
                                            <th>Confidence</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for detection in detection_history %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ detection.time }}</td>
                                            <td>{{ detection.confidence }}%</td>
                                            <td>{{ detection.label }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}