<!-- [ Menu Navigasi ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="">
                    <!-- Ganti ikon dengan gambar logo -->
                    <img src="{{ url_for('static', filename='assets/images/sintaprima.png') }}" alt="Logo" class="logo">
                </div>
                <span class="b-title">S. Prima Feedmill</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Beranda</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Profile Page" class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Halaman Profil</span>
                    </a>
                </li>

                {% if current_user.role == 'admin' %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Riwayat Kesehatan</label>
                </li>
                <li data-username="riwayat kesehatan semua karyawan" class="nav-item {% if 'riwayat' in segment %} active {% endif %}">
                    <a href="{{ url_for('main.riwayat') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-activity"></i></span>
                        <span class="pcoded-mtext">Riwayat Semua Karyawan</span>
                    </a>
                </li>
                <li data-username="Daftar Karyawan" class="nav-item {% if 'employee_list' in segment %} active {% endif %}">
                    <a href="/employee_list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Daftar Karyawan</span></a>
                </li>
                {% else %}
                <li class="nav-item pcoded-menu-caption">
                    <label>Riwayat Kesehatan Saya</label>
                </li>
                <li data-username="riwayat kesehatan" class="nav-item {% if 'riwayat_karyawan' in segment %} active {% endif %}">
                    <a href="{{ url_for('main.riwayat_karyawan', user_id=current_user.id) }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-activity"></i></span>
                        <span class="pcoded-mtext">Riwayat Kesehatan Saya</span>
                    </a>
                </li>
                {% endif %}

                <li class="nav-item pcoded-menu-caption">
                    <label>Lainnya</label>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span>
                        <span class="pcoded-mtext">Keluar</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ Menu Navigasi ] end -->