{% extends "layouts/base-fullscreen.html" %}

{% block title %}Daftar{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h3 class="mb-4">Daftar</h3>
                <form method="POST" action="{{ url_for('auth.register') }}">
                    <div class="input-group mb-3">
                        <input type="text" name="nik" class="form-control" placeholder="NIK" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Nama" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary shadow-2 mb-4">Daftar</button>
                </form>
                <p class="mb-0 text-muted">Sudah punya akun? <a href="{{ url_for('auth.login') }}">Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}